<div class="article">
	<h1 class="title"><a href="{{path}}">{{title}}</a></h1>
	{{#if metadata.subtitle}}
		<h2 class="subtitle">{{metadata.subtitle}}</h2>
	{{/if}}
	{{#if date}}
	<h5 class="date">{{formatDate date}}</h5>
	{{/if}}
	
{{{content}}}
</div>
