<div class="article">
	<h1 class="title"><a href="{{url}}">{{title}}</a></h1>
	{{#if subtitle}}
		<h2 class="subtitle">{{subtitle}}</h2>
	{{/if}}
	<h5 class="date">{{date}}</h5>

	{{{content}}}
</div>
